.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-container {
  background: #fff;
  width: 85%;
  max-height: 85vh;
  overflow-y: auto;
  border-radius: 8px;
  padding: 20px;
  margin-top: 80px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 30px;
}
