.text-nowrap {
    text-align: center;
    text-wrap: nowrap;
}

/* loader styles */
.loader-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 320px;
    gap: 16px;
}