
/* INPUTS */
.search-input {
  background-color: #e3fff3;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 0.45rem;
  outline: none;
  transition: all 0.1s ease-in-out;

  &:focus {
    box-shadow: 0 0 0 2px #34d399;
    outline: 0.25rem solid #b0fdea;
  }
  &:disabled {
    background-color: #d1d5db;
    cursor: not-allowed;
    transform: none;
  }
}

/* FIXED CELL IN TABLE */


/* =====================
   BUTTONS
===================== */
.icon-btn.add {
  background-color: #55f50b;
  color: #000000;
  border: none;
  padding: 0.8rem;
  border-radius: 0.5rem;
  
  &:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
    transform: none;
  }
}
.icon-btn.edit {
  background-color: #009eb3;
  margin: 0.2rem;
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  
  &:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
    transform: none;
  }
}
.icon-btn.close {
  background-color: #f50b6d;
  margin: 0.2rem;
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  
  &:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
    transform: none;
  }
}

.icon-btn.export-zip {
  background-color: #968700;
  color: #ffffffff;
  
  &:disabled {
    background-color: #9ca3af;
    cursor: not-allowed;
    transform: none;
  }
}


