# ============================================================================================================================================================
# Node Environment --------------------
# NODE_ENV=dev
NODE_ENV=live

# App Environment --------------------
APP_ENV={{APP_ENV}}


# ============================================================================================================================================================
# Network Configs
PORT_QAS=5037
PORT_PRD=5036

# API Name --------------------
API_NAME_QAS=ecompliance-qas-api
API_NAME_PRD=ecompliance-prd-api

# APP URLs
APP_URL_DEVQ=http://localhost:3037
APP_URL_DEVP=http://localhost:3036
APP_URL_LIVQ=https://ecompliance-qas.shyamgroup.com
APP_URL_LIVP=https://ecompliance.shyamgroup.com

# API Server auth
APP_API_USR=digitalapi
APP_API_PSS=Shyam@12345

# DB Connections
ONLN_DBURL=mongodb+srv://mshsun20:MSHshv123@ecomplianceapp.2qbdfs5.mongodb.net/?appName=ecomplianceapp
OFFLN_DBURL=mongodb://127.0.0.1:27017/

# Session Tokens
JWT_ACCESS_SECRET=67M2r1V4HP03r70fTgkDtyXEr2
JWT_REFRESH_SECRET=67M2r1V4HP085IB0gA3r70fTgkDo01kAK8YS4ek3hb2ai6r8fRg27HIO9aL349Db6fdtrtyXEr2
# Tokens & Cookies Expiry
ACCESS_EXP_DEV=2
REFRESH_EXP_DEV=1
ACCESS_EXP_LIVE=5
REFRESH_EXP_LIVE=7

# Upload Limits
UPLD_COUNT=5
UPLD_SIZE_MB=10

# 3rd party CDN
CLOUDINARY_CLOUD_NAME=dz9z6qvjn
CLOUDINARY_API_KEY=691434461284823
CLOUDINARY_API_SECRET=7Lvo7_uc2YpnxBLXYlgv3GaYsXQ

# SAP Integration Configs
SAP_QAS_USR=SG_API02
SAP_QAS_PASS=Welcome@123
SAP_PRD_USR=ITSDE_SHV150
SAP_PRD_PASS=iTSDE_SHV150@2024
SAPAPI_ZGPPO_QAS=https://saps4qas.shyamgroupcloud.com/sap/opu/odata/sap/ZGP_PO_DETAILS_SRV
SAPAPI_ZGPPO_PRD=https://saps4prd.shyamgroupcloud.com/sap/opu/odata/sap/ZGP_PO_DETAILS_SRV

# Nodemailer configs
EMAIL_HOST=smtp-mail.outlook.com
EMAIL_PORT=587
EMAIL_USR=donotreply.digital@shyamgroup.com
EMAIL_PASS=ShyamIT.digital@150
REMINDER_REFRESH_INTERVAL_MS=5000
TEST_EMAIL=legend.sunny65@gmail.com


# ============================================================================================================================================================
